<ion-header>
  <ion-toolbar>
    <ion-title>About NASA Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/space.gif"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to NASA Map</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>NASA Map is your convenient way to learn, see, and understand all of the images and data about our amazing universe as collected and brought to you by the National Aeronautics and Space Administration (NASA).</p>
        <br>
        <p>In the NASA Data Gallery, you can search for anything pictures or images from NASA's data banks. Simply search for something, and a gallery of related images and data will appear!</p>
        <br>
        <p>The APOD (Astronomy Picture of the Day), provides you with a fun daily image from space with a short, detailed, and educational description of the image!</p>
        <br>
	      <p>Release: v1.0</p>
	      <br>
	      <p>Author: Henry Keena</p>
	      <br>
        <p>Course: ISTE 252-01</p>
        <ion-img src="/assets/img/logo.png"></ion-img>
      </ion-card-content>
    </ion-card>

</ion-content>
